:root {
    --blue: #3498db;
    --orange: #ff3c00;
    --gray: #4e4343;
    --white: #ffffff;
    --black: #333333;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0); 
    }
}

.cadastro-page {
    margin-top: 1.1rem;
    background-color:var(--white);
    box-shadow: rgba(255, 255, 255, 0.3) 0px 1px 2px, rgba(255, 255, 255, 0.2) 0px 2px 4px, rgba(255, 255, 255, 0.15) 0px 4px 8px, rgba(255, 255, 255, 0.1) 0px 8px 16px, rgba(255, 255, 255, 0.07) 0px 16px 32px, rgba(255, 255, 255, 0.05) 0px 32px 64px;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 500px; 
    box-sizing: border-box;
    animation: fadeInUp 0.8s ease-out forwards;
}

.cadastro-form h2 {
    text-align: center;
    color: var(--black);
}


.cadastro-form {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}
.cadastro-form input:focus,
.cadastro-form select:focus {
    border-color: var(--blue);
    box-shadow: 0 0 6px rgba(52, 152, 219, 0.6);
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
@media (max-width: 600px) {
    body {
        font-size: 14px; 
    }

    .cadastro-form button {
        font-size: 15px;
    }
}



.cadastro-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: var(--black);
    font-size: 1.15rem;
}

.cadastro-form input[type="text"],
.cadastro-form input[type="email"],
.cadastro-form input[type="password"],
.cadastro-form input[type="tel"],
.cadastro-form input[type="date"],
.cadastro-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1.5px solid var(--gray);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

.cadastro-form-input:focus {
    border: 8px solid var(--blue);
    
}


.cadastro-form button {
    padding: 12px;
    background-color: var(--blue);
    color: var(--white);
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.cadastro-form button:hover {
    background-color: var(--orange);
}



.checkbox {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding-top: 1rem;    
}


.checkbox input[type="checkbox"] {
    margin: 0;
    margin-bottom: 0.7rem;
}

.end {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    margin-top: 1rem; 
    gap: 10px; 
}

.back-main{
    color: #3498db;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}
.back-main :hover{
    color: #ff3c00;
    text-decoration: underline;
}

@media (max-width: 600px) {
    .cadastro-page {
        padding: 15px;
    }

    .cadastro-form button {
        font-size: 14px;
    }

   
    .end {
        flex-direction: column; 
        align-items: center; 
    }
}
